In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('clean_data.csv')
df.head()

,REF_DATE,GEO,Gender,Country of control,Industry,Size of enterprise,Executive,VALUE
0,2016,Newfoundland and Labrador,Women,Canada,Finance,First quartile,Directors,3.0
1,2016,Newfoundland and Labrador,Women,Canada,Finance,First quartile,Top officers,0.0
2,2016,Newfoundland and Labrador,Women,Canada,Finance,First quartile,Other officers,0.0
3,2016,Newfoundland and Labrador,Women,Canada,Finance,Second quartile,Directors,2.0
4,2016,Newfoundland and Labrador,Women,Canada,Finance,Second quartile,Top officers,0.0

In [62]:
df_T = df[df.Executive == 'Other officers']
df_T = df_T[df_T.Industry == 'Energy']
df_T = df_T[df_T["Size of enterprise"] == 'Fourth quartile']
Total = df_T.VALUE.sum()
df_W = df_T[df_T.Gender == 'Women']
women = df_W.VALUE.sum()

print(women/Total)

0.30081906180193596